.navbar-brand {
	padding: 28px 4px;
}
.hotel-slider-section .slotholder:after {
	background: none!important;
}

.projects-page-section{
	width: 95%;
	margin: auto;
}
.mockThumbnail{
	opacity : 0.5;
}
.datatables_action{
	font-size: 16px;
	font-weight: 500;
}

#home-section{
	margin-top: 135px;
}

.slide-out-div {
/*           padding: 20px; */
          width: 450px;
          background: #ccc;
          border: 1px solid #c58408;
          z-index: 999999;
}
.services-page-section {
    padding-top: 100px!important;
    margin-top: 60px!important;
}

.tp-banner-container .royal-fashion-bannerwrap,.tp-banner-container .heol-bannerwrap{
	cursor : pointer;
}

@media (min-width: 768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	    margin-left: -49px;
	}
	.search-page-section {
	  padding: 170px 0 0 0!important;
	}
	/* .jltSponsorContainer{
		width : 90%;
		margin: auto;
	} */
	.jltFeatureGallery{
		width : 80%;
	}
	.contact-topsection{
		padding-top: 165px;
	}
	.services-offer-section .offer-post > a img{
		width: 70%;
	}
}
@media (max-width: 767px){
	
	.contact-topsection{
		padding-top: 80px;
	}
}

@media (max-width: 1199px){
	.jlt-logo-img{
		 content:url("../images/logo-mobile.png");
		 width:60px;
		 height : 60px;
		 /* display: none!important; */
	}
	.navbar-brand{
	    padding: 10px 4px;
	}
	header.active .navbar-brand {
    padding: 0;
}


